#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .bg {
    position: absolute;
    top: -2rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
  }
  
  .introContent { /* Fixed typo from .itroContent to .introContent */
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hello {
    font-size: 1.75rem;
    font-weight: 100;
  }
  
  .intoname {
    color: rgb(95, 59, 167);
  }
  
  .intropara {
    font-size: medium;
    font-weight: 200;
  }
  .buttons-container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* justify-content: center; */
    gap: 10px;
  }
  
  .btn {
    
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    /* padding: 10px; */
    border: none;
    border-radius: 2rem;
    /* width: auto; Ensures the button takes up only as much space as needed */
    max-width: 250px; /* Set a maximum width to control the size */
    text-align: center; /* Ensures the text inside the button is centered */
    display: inline-block; /* Makes the button only as wide as necessary */
    /* height: 50px; */
    width: 8rem;
    height: 3.5rem;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: 700;
    /* font-size: large; */
    /* gap: 10px;  */
    cursor: pointer;
  }



  /* Styling for the iframe that displays the resume */
  .resume-iframe {
    width: 50%;  /* Make sure the iframe takes up full width */
    height: 1200vh;  /* Full viewport height */
    border: none;
    object-fit: contain;  /* Scale the content inside the iframe without cutting it off */
    overflow: hidden;  /* Hide any overflow */
  }

  
  /* Fixed media query syntax */
  @media screen and (max-width: 840px) { /* Added missing space */
    .bg {
      right: -10vw;
    }
    .introContent {
      font-size: 10vw;
    }
    .hello {
      font-size: 4.5vw;
    }
  }
  
  @media screen and (max-width: 480px) { /* Added missing space */
    .bg {
      right: -20vw;
    }
  }
  